@charset "utf-8";

#top #main {
	width: 100%;
	margin: 0;
	padding:0;
}
#top #main .content {
	width: 100%;
	margin: 0;
}
#top #main #section1 .slider1 img.pc_only {
	display: none;
}
#top #main #section1 .slider1 img.sp_only {
	display: block;
}
#top #main #section1 #news_sec {
	width: 100%;
	height: 86px;
	background-color: rgba(255,255,255,0.8);
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 500;
}
#top #main #section1 #news_sec_inner {
	width: 100%;
	margin: 0;
}
#top #main #section1 #news_sec_inner h2 {
	float: none;
	width: 100%;
	text-align: center;
	border-right: none;
	margin: 8px 0 8px;
	padding-bottom: 8px;
	background: url(../../img/top/underline.png) center bottom no-repeat;
}
#top #main #section1 #news_sec_inner h2 img {
	width: 42px;
	height: auto;
}
#top #main #section1 #news_sec_inner .news_box {
	float: none;
	width: 100% !important;
	height: 46px !important;
	margin: 0;
	padding: 0 0 0 4% !important;
}
#top #main #section1 #news_sec_inner .news_box .jspContainer {
	width: 100% !important;
	height: 46px !important;
}
#top #main #section1 #news_sec_inner .news_box .jspPane {
	width: 100% !important;
}
#top #main #section1 #news_sec_inner .news_box ul li {
	display: table;
	font-size: 10px;
	padding: 10px 0;
	border-bottom: 1px dashed #666;
}
#top #main #section1 #news_sec_inner .news_box ul li span.day {
	display: table-cell;
	width: 78px;
	padding-right: 6px;
	margin-right: 0;
	border-right: none;
	font-size: 10px;
	position: relative;
}
#top #main #section1 #news_sec_inner .news_box ul li span.day:after {
	content: " ";
	position: absolute;
	right: 0;
	top: 0;
	width: 1px;
	height: 16px;
	background-color: #666;
}
#top #main #section1 #news_sec_inner .news_box ul li span.text {
	display: table-cell;
	padding: 0 10px 0 6px;
}
#top #main #section2 {
	padding: 40px 0 0;
}
#top #main #section2 .content {
	width: 100%;
	padding: 0 14%;
}
#top #main #section2 h2 {
	width: 100%;
	font-size: 20px;
	text-align: center;
	padding-bottom: 6px;
	box-sizing: border-box;
	margin-bottom: 10px;
}
#top #main #section2 img {
	position: static;
}
#top #main #section2 p {
	font-size: 10px;
}
#top #main #section3 {
	padding: 28px 0 22px;
}
#top #main #section3 h2 {
	width: 100%;
}
#top #main #section3 h2 img {
	width: 70px;
}
#top #main #section3 p.sub {
	font-size: 11px;
	margin-bottom: 32px;
}
#top #main #section3 p.pdf a {
	font-size: 11px;
	text-align: center;
	display: block;
	width: 90%;
	margin: 10px auto 0;
	color: #FFF;
	background-color: #e50012;
	padding: 14px 0;
	border-radius: 4px;
}
#top #main #section3 p.pdf a:hover {
	opacity:  1;
}
#top #main #section3 .slider2 {
	display: block;
	width: 80%;
	margin: 0 auto;
}
#top #main #section3 .slider2 .slick-slide img {
	width: auto;
}
#top #main #section4 {
	width: 100%;
	padding: 40px 0 0;
}
#top #main #section4 h2 {
	width: 100%;
}
#top #main #section4 h2 img {
	width: 55px;
}
#top #main #section4 p.sub {
	font-size: 11px;
	margin-bottom: 32px;
}
#top #main #section4 dl {
	box-sizing: border-box;
	width: 92%;
	margin: 0 auto 30px;
	padding: 18px 10px 30px;
}
#top #main #section4 dl dt {
	padding: 40px 0 35px;
	background-image: url(../../img/top/sec4_img1.png), url(../../img/top/sec4_img2.png);
	background-position: center top, center bottom;
	background-repeat: no-repeat, no-repeat;
	text-align: center;
	color: #E50012;
	font-size: 14px;
	margin-bottom: 16px;
}
#top #main #section4 dl dd {
	padding: 0 18px;
}
#top #main #section4 dl dd .right {
	float: none;
	width: 100%;	
}
#top #main #section4 dl dd img {
	float: none;
	width: auto;
}
#top #main #section4 dl dd p {
	float: none;
	width: 380px;
}
#top #main #section4 dl dd p.text1 {
	width: 100%;
	font-size: 13px;
	padding-bottom: 8px;
	margin-bottom: 12px;
	text-align: center;
}
#top #main #section4 dl dd p.text2 {
	width: 100%;
	font-size: 12px;
	margin-bottom: 10px;
}
#top #main #section5 h2 {
	width: 100%;
}
#top #main #section5 h2 img {
	width: 78px;
}
#top #main #section5 p.sub {
	font-size: 11px;
	margin-bottom: 32px;
}
#top #main #section5 table  {
	width: 92%;
	display: block;
	margin: 0 auto;
}
#top #main #section5 table tbody {
	display: block;
	width: 100%;
}
#top #main #section5 table tr {
	display: block;
	width: 100%;
	border-bottom: 1px solid #e2e2e2;
	padding: 14px 0;
}
#top #main #section5 table tr:first-child {
	border-top: 1px solid #e2e2e2;
}
#top #main #section5 table th {
	display: block;
	width: 100%;
	font-size: 12px;
	text-align: center;
	padding: 0;
}
#top #main #section5 table td {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 12px;
	padding: 0;
}






