@charset "utf-8";

/*============================
# お知らせ一覧
============================*/
#news #main{
	width:100%;
	margin:0;
}
#news #main .content {
	width: 1000px;
	margin: 0 auto;
}
#news #main h2.ttl {
	text-align: center;
  margin: 0 0 14px;
}
#news #main p.sub {
	color: #000;
	font-size: 14px;
	text-align: center;
	margin-bottom: 48px;
}
#news #main p.st.sub {
	margin-bottom: 24px;
}
#news #main #section1 {
	width: 100%;
	position: relative;
}
#news #main #section1 img {
	width: 100%;
}
#news #main #section2 {
	width: 100%;
	padding: 66px 0 0;
	border-bottom: 1px solid #d5d5d5;
	-moz-box-shadow: 0px 0px 10px #d5d5d5;
	-webkit-box-shadow: 0px 0px 10px #d5d5d5;
	box-shadow: 0px 0px 10px #d5d5d5;
}
#news #main #section2 .content {
	position: relative;
	padding: 0 0 60px;
}
#news #main #section2 p {
	font-size: 14px;
}
#news #main #section2 .row {
  margin: 20px 0;
	color: #666666;
}
#news #main #section2 .row:hover {
	background-color: #eeeeee;
}
#news #main #section2 .arrow {
  position: relative;
	padding: 15px 25px 15px 10px;
}
#news #main #section2 .arrow:before {
    position: absolute;
    display: block;
    right: 10px;
    top: 35%;
    content: "";
    height: 16px;
    width: 13px;
    background-image: url(img/arrow_right.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: visible;
}
#news #main #section2 .row .left-item {
  text-align: right;
	border-right: solid 2px #666666;
}
#news #main #section2 .row .right-item {
  /*border-left: solid 2px #666666;*/
}
/*============================
# お知らせ
============================*/
#article #main{
	width:100%;
	margin:0;
}
#article #main .content {
	width: 1000px;
	margin: 0 auto;
}
#article #main .content p {
	margin: 25px auto;
}
#article #main h2.ttl {
	text-align: center;
  margin: 0 0 14px;
}
#article #main #section1 {
	width: 100%;
	position: relative;
}
#article #main #section1 img {
	width: 100%;
}
#article #main #section2 h2 {
	color: #808080;
	font-size: 34px;
	font-weight: normal;
	padding: 0 0 14px;
	border-bottom: 1px solid #808080;
	margin: 40px 0 30px;
}
#article #main #section2 span.date {
	position: absolute;
	top: 10px;
  right: 0;
  padding: 2px 5px;
  border: solid 1px #000;
  border-radius: 5px;
}
#article #main #section2 h3 {
	color: #333;
  font-size: 20px;
  background-color: #eeeeee;
  width: 60%;
  padding: 10px 20px;
}
#article #main #section2 a.red_btn {
	font-size: 14px;
  text-align: center;
  display: block;
  width: 172px;
  margin: 10px 0 30px auto;
  color: #FFF;
  background-color: #e50012;
  padding: 6px 0;
  border-radius: 4px;
}
