@charset "utf-8";

#about #main {
	width: 100%;
	margin: 0;
	padding:0;
}
#about #main .content {
	width: 100%;
	margin: 0;
}
#about #main h2.ttl img {
  height: 30px;
	margin: auto;
}
#about #main #section2 {
	padding: 40px 0 0;
}
#about #main #section2 .content {
	width: 100%;
	padding: 0 10%;
}
#about #main #section2 h2 {
	font-size: 20px;
	text-align: center;
	padding-bottom: 6px;
	box-sizing: border-box;
	margin-bottom: 10px;
}
#about #main #section2 img {
	position: static;
}
#about #main #section2 p {
	font-size: 12px;
}
#about #main #section3 .content {
	padding: 0 10%;
}
#about #main #section3 p {
    font-size: 12px;
}
#about #main #section3 h2.sub-ttl {
	width: 100%;
	font-size: 14px;
}
#about #main #section3 p.detail {
    width: 100%;
}
#about #main #section3 .advantage-item {
	margin-bottom: 0;
	padding-bottom: 50px;
}
#about #main #section3 .advantage-item:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}
#about #main #section3 .advantage-item img {
	position: static;
	width: 100%;
}
#about #main #section3 p.sub {
    margin-bottom: 24px;
}
#about #main #section4 .content {
  padding: 0 10%;
}
#about #main #section4 p.sub {
	margin-bottom: 24px;
}
#about #main #section4 ul li.member {
}
#about #main #section4 ul li.member div {
	text-align: center;
	font-size: 12px;
	margin: 10px auto;
}
#about #main #section4 ul li.member div .name {
	font-size: 24px;
}
#about #main #section4 ul li.member img {
	width: 100%;
}
#about #main #section4 .slider > button {
	display: none !important;
}
.slick-dots {
    bottom: -30px !important;
    right: 31% !important;
}
